<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Wup</title>
    <style type="text/css" media="all">
	    body{
	      background: seashell;
	      color: black;
	    }
	    code{
	      font-weight: bold;
	      margin: 4px auto; 
	      
	    }
	    .matched{
	      background:red;
	      color:white;
	    }
    </style>		
	</head>
	<body>
	  <div id="search">
	    <form action="/" method="get">
	      <input type="text" style="height:30px;width:30%;padding-left:4px;" name="q" value="<%=q%>" />
      </form>
      <hr>
	  </div>
		<pre style="white-space:pre-line;">
		<%=yield%>
		</pre>
	</body>
</html>
